.td-center {
    text-align: center;
}



/* style.css */
* {
   font-size: 8px;
}

.table-sm  {
  padding: 0.05rem 0.05rem;
}


.small-text {
    font-size: 9px;
 }

 .large-text {
  font-size: 25px;
}

 .very-small-text {
  font-size: 8px;
}

.signature {
    width: 100px;
    height: 50px;
}

.af-uz {
  max-width: 20px;
  min-width: 20px;
  text-align: center;
}
