<div class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col-3">
        <h6>F.S.C.F</h6>
        <h6>AVANT-GARDE-DU RHIN</h6>
      </div>
      <div class="col-6 text-center large-text font-weight-bold">
        FEUILLE DE MATCH

      </div>

      <div class="col-3">

      </div>
    </div>
  </div>

  <div class="container">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th class="td-center" scope="col">Saison</th>
          <th class="td-center" scope="col">Catégorie</th>
          <th class="td-center" scope="col">Epreuve</th>
          <th class="td-center" scope="col">Journée</th>
          <th class="td-center" scope="col">Division</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-center">
            <div>{{ match.getSaison() }}</div>
          </td>
          <td class="td-center">
            <div>{{ match.categorie }}</div>
          </td>
          <td class="td-center">
            <div>{{ match.epreuve}}</div>
          </td>
          <td class="td-center">
            <div>{{ match.journee}}</div>
          </td>
          <td class="td-center">
            <div>{{ match.division}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="container">
      <div class="row">

        <div class="col-5 border">
          <div class="row">
            <div class="col-4">
              Lieu :
            </div>
            <div class="col-6">
              SCHLEITHAL
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              Date :
            </div>
            <div class="col-6">
              {{ $any(match.Date).day | number:'2.0' }}/{{ $any(match.Date).month | number:'2.0' }}/{{ $any(match.Date).year }} {{ $any(match.Heure).hour | number:'2.0' }} : {{ $any(match.Heure).minute | number:'2.0' }}
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              Juge-Arbitre :
            </div>
            <div class="col-6">

            </div>
          </div>
        </div>

        <div class="col-1">

        </div>
        <div class="col-6 border">
          Avant le début de la rencontre,
          l'attribution des lettres ABCDEF et UVWXYZ ( 6 joueurs ) est faite par tirage au sort
        </div>
      </div>
    </div>


  </div>




  <div class="container">
    <div class="row">
      <div class="col-6 text-center text-uppercase">{{ match.equipeReceveuse.nomEquipe }}</div>
      <div class="col-6 text-center text-uppercase">{{ match.equipeVisiteuse.nomEquipe }}</div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col" class="td-center">#</th>
              <th scope="col" class="td-center">Nom</th>
              <th scope="col" class="td-center">Clt</th>
              <th scope="col" class="td-center">Licence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let joueur of match.equipeReceveuse.joueurs; index as i">
              <th scope="row" class="td-center">{{ match.equipeReceveuse.joueurs[i].position }}</th>
              <td class="form-group">
                <div [ngClass]="{'font-weight-bold': match.equipeReceveuse.joueurs[i].estCapitaine }">{{
                  match.equipeReceveuse.joueurs[i].nom }}</div>
              </td>
              <td class="td-center">
                <div [ngClass]="{'font-weight-bold': match.equipeReceveuse.joueurs[i].estCapitaine }">{{
                  match.equipeReceveuse.joueurs[i].classement }}</div>
              </td>
              <td class="td-center">
                <div [ngClass]="{'font-weight-bold': match.equipeReceveuse.joueurs[i].estCapitaine }">{{
                  match.equipeReceveuse.joueurs[i].numeroLicence }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col" class="td-center">#</th>
              <th scope="col" class="td-center">Nom</th>
              <th scope="col" class="td-center">Clt</th>
              <th scope="col" class="td-center">Licence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let joueur of match.equipeVisiteuse.joueurs; index as i">
              <th scope="row" class="td-center">{{ match.equipeVisiteuse.joueurs[i].position }}</th>
              <td class="form-group">

                <div [ngClass]="{'font-weight-bold': match.equipeVisiteuse.joueurs[i].estCapitaine }">{{
                  match.equipeVisiteuse.joueurs[i].nom }} </div>
              </td>
              <td class="td-center">
                <div [ngClass]="{'font-weight-bold': match.equipeVisiteuse.joueurs[i].estCapitaine }">{{
                  match.equipeVisiteuse.joueurs[i].classement }}</div>
              </td>
              <td class="td-center">
                <div [ngClass]="{'font-weight-bold': match.equipeVisiteuse.joueurs[i].estCapitaine }">{{
                  match.equipeVisiteuse.joueurs[i].numeroLicence }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col" class="td-center">#</th>
              <th scope="col" class="td-center">Joueur 1</th>
              <th scope="col" class="td-center">Joueur 2</th>
              <th scope="col" class="td-center">1</th>
              <th scope="col" class="td-center">2</th>
              <th scope="col" class="td-center">3</th>
              <th scope="col" class="td-center">4</th>
              <th scope="col" class="td-center">5</th>
              <th scope="col" class="td-center">A-F</th>
              <th scope="col" class="td-center">U-Z</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rencontre of match.rencontres; index as i">
              <th scope="row" class="td-center">{{ match.rencontres[i].getFormule() }}</th>

              <td>
                <div
                  *ngIf="match.rencontres[i].getTypeRencontre() === 'RencontreSimple'; then thenBlock else elseBlock">
                </div>
                <ng-template #thenBlock>
                  <div>{{ match.rencontres[i].joueurEquipeReceveuse.nom }}</div>
                </ng-template>
                <ng-template #elseBlock>
                  <div>{{ match.rencontres[i].doubleEquipeReceveuse }}</div>
                </ng-template>
              </td>
              <td>
                <div
                  *ngIf="match.rencontres[i].getTypeRencontre() === 'RencontreSimple'; then thenBlock2 else elseBlock2">
                </div>
                <ng-template #thenBlock2>
                  <div>{{ match.rencontres[i].joueurEquipeVisiteuse.nom }}</div>
                </ng-template>
                <ng-template #elseBlock2>
                  <div>{{ match.rencontres[i].doubleEquipeVisiteuse }}</div>
                </ng-template>
              </td>

              <td class="td-center" *ngFor="let manche of match.rencontres[i].manches; index as y">
                <div>{{ match.rencontres[i].manches[y].score }}</div>
              </td>



              <td class="af-uz">
                {{ match.rencontres[i].getPointEquipeReveuse() }}
              </td>
              <td class="af-uz">
                {{ match.rencontres[i].getPointEquipeVisiteuse() }}
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="8"></td>
              <td class="td-center font-weight-bold">{{ match.scoreEquipeReceveuse() }} </td>
              <td class="td-center font-weight-bold">{{ match.scoreEquipeVisiteuse() }}</td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="border">
      <div class="row">
        <div class="col-5 text-uppercase font-weight-bold">Résultat</div>

        <div class="col-5 text-uppercase">
          {{ match.equipeReceveuse.nomEquipe }} - {{ match.equipeVisiteuse.nomEquipe }}
        </div>

        <div class="col-2 text-center">{{ match.scoreEquipeReceveuse() }} à {{ match.scoreEquipeVisiteuse() }}</div>
      </div>
    </div>
  </div>


  <div class="container mt-2">
    <div class="container">
      <div class="row">
        <div class="col-5 border">
          <div class="row">
            <div class="col-12">Les réseves (avant la rencontre) et les réclamations (pendant ou après) sont à
              faire,
              s'il y a lieu, au verso.
            </div>
          </div>
        </div>


        <div class="col-2" ></div>

        <div class="col-3 border ">
          <div class="container">
            <span class="align-self-center align-middle">
              HOMOLOGATION
            </span>
          </div>
        </div>


        <div class="col-2 border">
          <div class="row pl-1 pt-1">
            P.V. N° :
          </div>
          <div class="row pl-1">
            Date :
          </div>
        </div>
      </div>
    </div>


  </div>




  <div class="container mt-1 very-small-text ">
    La feuille de match dûment remplie et signée est à renvoyer au responsable chargé du contrôle de la compétition dans
    un délai de 24 heures par l'équipe recevante. Toute infraction sera pénalisée d'une amende. Pour les rencontres en
    salle neutre l'obligation incombe à l'équipe gagnante qui en cas de non-observation, encourt la même sanction.
  </div>


  <div class="container mt-1">
    <div class="row">
      <div class="col-6">
        <table class="table-sm table-bordered  d-block d-md-table">
          <thead>
            <tr>
              <th scope="col" colspan="2" class="td-center">SIGNATURES</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td-center">
                <div class="small-text">Le Capitaine de l'équipe gagnante</div>
              </td>
              <td class="td-center">
                <div class="small-text">Le Capitaine de l'équipe perdante</div>
              </td>
            </tr>
            <tr>
              <td class="td-center">
                <img class="signature" [src]="match.signatureEquipeReceveuse" />
              </td>
              <td class="td-center">
                <img class="signature" [src]="match.signatureEquipeVisiteuse" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-1">

      </div>

      <div class="col-5">
        <div class="container">
          <div class="row">
            <div class="col-6 border ">
              <div class="container">
                <span class="align-self-center align-middle">
                  Points math acquis
                </span>
              </div>

            </div>


            <div class="col-6 border">
              <div class="row pl-1 pt-1 ">
                <span class="align-middle align-self-center">Equipe recevante : {{ match.getPointEquipeReceveuse() }}</span>

              </div>
              <div class="row pl-1">
                <span class="align-middle align-self-center">Equipe recevante : {{ match.getPointEquipeVisiteuse() }}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
