<div class="container-fluid">
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th class="td-center" scope="col">Saison</th>
        <th class="td-center" scope="col">Catégorie</th>
        <th class="td-center" scope="col">Epreuve</th>
        <th class="td-center" scope="col">Journée</th>
        <th class="td-center" scope="col">Division</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td-center">
          <div>{{ match.getSaison() }}</div>
        </td>
        <td class="td-center">
          <div>{{ match.categorie }}</div>
        </td>
        <td class="td-center">
          <div>{{ match.epreuve}}</div>
        </td>
        <td class="td-center">
          <div>{{ match.journee}}</div>
        </td>
        <td class="td-center">
          <div>{{ match.division}}</div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container mt-2">
    <div class="row">
      <div class="col-12"></div>
      <div>{{ match.equipeReceveuse.nomEquipe }}</div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col" class="td-center">#</th>
              <th scope="col" class="td-center">Nom</th>
              <th scope="col" class="td-center">Clt</th>
              <th scope="col" class="td-center">Licence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let joueur of match.equipeReceveuse.joueurs; index as i">
              <th scope="row" class="td-center">{{ match.equipeReceveuse.joueurs[i].position }}</th>
              <td class="form-group">
                <div>{{ match.equipeReceveuse.joueurs[i].nom }}</div>
              </td>
              <td class="td-center">
                <div>{{ match.equipeReceveuse.joueurs[i].classement }}</div>
              </td>
              <td class="td-center">
                <div>{{ match.equipeReceveuse.joueurs[i].numeroLicence }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col" class="td-center">#</th>
              <th scope="col" class="td-center">Nom</th>
              <th scope="col" class="td-center">Clt</th>
              <th scope="col" class="td-center">Licence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let joueur of match.equipeVisiteuse.joueurs; index as i">
              <th scope="row">{{ match.equipeVisiteuse.joueurs[i].position }}</th>
              <td class="form-group">
                <div>{{ match.equipeVisiteuse.joueurs[i].nom }}</div>
              </td>
              <td class="td-center">
                <div>{{ match.equipeVisiteuse.joueurs[i].classement }}</div>
              </td>
              <td class="td-center">
                <div>{{ match.equipeVisiteuse.joueurs[i].numeroLicence }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col" class="td-center">#</th>
              <th scope="col" class="td-center">Joueur 1</th>
              <th scope="col" class="td-center">Joueur 2</th>
              <th scope="col" class="td-center">1</th>
              <th scope="col" class="td-center">2</th>
              <th scope="col" class="td-center">3</th>
              <th scope="col" class="td-center">4</th>
              <th scope="col" class="td-center">5</th>
              <th scope="col" class="td-center">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rencontre of match.rencontres; index as i">
              <th scope="row" class="td-center">{{ match.rencontres[i].getFormule() }}</th>
      
              <td>
                <div *ngIf="match.rencontres[i].getTypeRencontre() === 'RencontreSimple'; then thenBlock else elseBlock">
                </div>
                <ng-template #thenBlock>
                  <div>{{ match.rencontres[i].joueurEquipeReceveuse.nom }}</div>
                </ng-template>
                <ng-template #elseBlock>
                  <div>{{ match.rencontres[i].doubleEquipeReceveuse }}</div>
                </ng-template>
              </td>
              <td>
                <div *ngIf="match.rencontres[i].getTypeRencontre() === 'RencontreSimple'; then thenBlock2 else elseBlock2">
                </div>
                <ng-template #thenBlock2>
                  <div>{{ match.rencontres[i].joueurEquipeVisiteuse.nom }}</div>
                </ng-template>
                <ng-template #elseBlock2>
                  <div>{{ match.rencontres[i].doubleEquipeVisiteuse }}</div>
                </ng-template>
              </td>
      
              <td class="td-center" *ngFor="let manche of match.rencontres[i].manches; index as y">
                <div>{{ match.rencontres[i].manches[y].score }}</div>
              </td>
      
              <td class="manche td-center">
                {{ match.rencontres[i].getVainqueur() }}
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="7" ></td>
              <td class="td-center" > {{ match.scoreEquipeReceveuse() }}</td>
              <td class="td-center"> {{ match.scoreEquipeVisiteuse() }}</td>
            </tr>
        </tfoot>
        </table>
      </div>
      
    </div>
  </div>
</div>


<!-- <div class="container-fluid">
   
    <div class="row no-gutters items-group">
        <div *ngFor="let rencontre of match.rencontres; index as i">
            <div>fdfdfdfddfxxxxxxxxxxx {{ match.rencontres[i].getFormule() }}</div>
        </div>
            
    </div>

    <div class="row no-gutters">
      <div class="col">
        <h1> Assistência Nº 1 </h1>
      </div>
    </div>
  
    <div class="row no-gutters">
      <div class="col">
        <img
        src="../../assets/logotipo.svg"
        alt="logotipo"
        class="logotipo">
      </div>
  
      <div class="col">
        <h2>N Reparações</h2>
        <p>91 886 73 76</p>    
        <div class="address">
          <p>geral@nreparacoes.com</p>
          <p>Av. Dr. Ribeiro de Magalhães, 1391</p>
          <p>Centro Comercial 123, Loja BD</p>
          <p>4610-108 Felgueiras</p>
        </div>
      </div>
    </div>
  
    <div class="row no-gutters items-group">
      <div class="col-3 label">
        <p>Cliente:</p>
        <p>Contacto:</p>
      </div>
  
      <div class="col-9">
        <p>Manuel Alberto Magalhães Carvalho</p>
        <p>91 000 00 00</p>
      </div>
    </div>
  
    <div class="row no-gutters items-group">
      <div class="col-3 label">
        <p>Equipamento:</p>
        <p>Cor:</p>
        <p>Serial:</p>
        <p>Problema:</p>
        <p>Observações:</p>
      </div>
  
      <div class="col-9">
        <p>Telemóvel > Apple > Iphone 6</p>
        <p>Cinza</p>
        <p>appl2015ewfwejuk23423</p>
        <p>Não arranca</p>
        <p>codigo: 1798 - tem de ficar pronto até dia 12/02/2019</p>
      </div>
    </div>
  
    <div class="row no-gutters items-group">
      <div class="col">
        <p class="label">Condições Gerais:</p>
        <ul class="disclaimer">
          <li>Prazo para levantar 90 dias</li>
          <li>Garantia 90 dias</li>
          <li>Esta assistência só é entregue a quem apresentar este documento</li>
          <li>O preço acresce 10% a cada 30 dias após fim do prazo de levantamento (taxa de conservação)</li>
          <li>Os dados do cliente, acima mencionados, ficam registados na N Reparações apenas para efeitos de comunicação
            em relação às suas assistências e facturação
          </li>
        </ul>
      </div>
    </div>
  
    <div class="row no-gutters">
      <div class="col">
        <p class="disclaimer signature-field">Declaro que li e concordo com o disposto neste documento em 03/02/2019</p>
      </div>
    </div>
  </div> -->