<div class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col-3">
        <h6>F.S.C.F</h6>
        <h6>AVANT-GARDE-DU RHIN</h6>
      </div>
      <div class="col-6 text-center">
        <h1>FEUILLE DE MATCH</h1>

      </div>

      <div class="col-3">

      </div>
    </div>
  </div>

  <div class="container mt-1">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th class="td-center" scope="col">Saison</th>
          <th class="td-center" scope="col">Catégorie</th>
          <th class="td-center" scope="col">Epreuve</th>
          <th class="td-center" scope="col">Journée</th>
          <th class="td-center" scope="col">Division</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-center">
            <div>{{ match.getSaison() }}</div>
          </td>
          <td class="td-center">
            <div>{{ match.categorie }}</div>
          </td>
          <td class="td-center">
            <div>{{ match.epreuve}}</div>
          </td>
          <td class="td-center">
            <div>{{ match.journee}}</div>
          </td>
          <td class="td-center">
            <div>{{ match.division}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="container mt-2">
    <div class="row">
      <div class="col-6 text-center text-uppercase">{{ match.equipeReceveuse.nomEquipe }}</div>
      <div class="col-6 text-center text-uppercase">{{ match.equipeVisiteuse.nomEquipe }}</div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col" class="td-center">#</th>
              <th scope="col" class="td-center">Nom</th>
              <th scope="col" class="td-center">Clt</th>
              <th scope="col" class="td-center">Licence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let joueur of match.equipeReceveuse.joueurs; index as i">
              <th scope="row" class="td-center">{{ match.equipeReceveuse.joueurs[i].position }}</th>
              <td class="form-group">
                <div>{{ match.equipeReceveuse.joueurs[i].nom }}</div>
              </td>
              <td class="td-center">
                <div>{{ match.equipeReceveuse.joueurs[i].classement }}</div>
              </td>
              <td class="td-center">
                <div>{{ match.equipeReceveuse.joueurs[i].numeroLicence }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col" class="td-center">#</th>
              <th scope="col" class="td-center">Nom</th>
              <th scope="col" class="td-center">Clt</th>
              <th scope="col" class="td-center">Licence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let joueur of match.equipeVisiteuse.joueurs; index as i">
              <th scope="row" class="td-center">{{ match.equipeVisiteuse.joueurs[i].position }}</th>
              <td class="form-group">
                <div>{{ match.equipeVisiteuse.joueurs[i].nom }}</div>
              </td>
              <td class="td-center">
                <div>{{ match.equipeVisiteuse.joueurs[i].classement }}</div>
              </td>
              <td class="td-center">
                <div>{{ match.equipeVisiteuse.joueurs[i].numeroLicence }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col" class="td-center">#</th>
              <th scope="col" class="td-center">Joueur 1</th>
              <th scope="col" class="td-center">Joueur 2</th>
              <th scope="col" class="td-center">1</th>
              <th scope="col" class="td-center">2</th>
              <th scope="col" class="td-center">3</th>
              <th scope="col" class="td-center">4</th>
              <th scope="col" class="td-center">5</th>
              <th scope="col" class="td-center">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rencontre of match.rencontres; index as i">
              <th scope="row" class="td-center">{{ match.rencontres[i].getFormule() }}</th>

              <td>
                <div *ngIf="match.rencontres[i].getTypeRencontre() === 'RencontreSimple'; then thenBlock else elseBlock">
                </div>
                <ng-template #thenBlock>
                  <div>{{ match.rencontres[i].joueurEquipeReceveuse.nom }}</div>
                </ng-template>
                <ng-template #elseBlock>
                  <div>{{ match.rencontres[i].doubleEquipeReceveuse }}</div>
                </ng-template>
              </td>
              <td>
                <div *ngIf="match.rencontres[i].getTypeRencontre() === 'RencontreSimple'; then thenBlock2 else elseBlock2">
                </div>
                <ng-template #thenBlock2>
                  <div>{{ match.rencontres[i].joueurEquipeVisiteuse.nom }}</div>
                </ng-template>
                <ng-template #elseBlock2>
                  <div>{{ match.rencontres[i].doubleEquipeVisiteuse }}</div>
                </ng-template>
              </td>

              <td class="td-center" *ngFor="let manche of match.rencontres[i].manches; index as y">
                <div>{{ match.rencontres[i].manches[y].score }}</div>
              </td>

              <td class="manche td-center">
                {{ match.rencontres[i].getVainqueur() }}
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="8"></td>
              <td class="td-center">{{ match.scoreEquipeReceveuse() }} - {{ match.scoreEquipeVisiteuse() }}</td>
            </tr>
        </tfoot>
        </table>
      </div>

    </div>
  </div>


  <div class="container mt-2">
    <div class="border">
      <div class="row p-2">
        <div class="col-5 text-uppercase">Résultat</div>

        <div class="col-5 text-uppercase">
          {{ match.equipeReceveuse.nomEquipe }} - {{ match.equipeVisiteuse.nomEquipe }}
        </div>

        <div class="col-2 text-center text-uppercase">{{ match.scoreEquipeReceveuse() }} à {{ match.scoreEquipeVisiteuse() }}</div>
      </div>
    </div>
  </div>


  <div class="container mt-1">
    <div class="row p-3" >
      <div class="col-5 border">Les réseves (avant la rencontre) et les réclamations (pendant ou après) sont à faire, s'il y a lieu, au verso.</div>

      <div class="col-2">

      </div>

      <div class="col-3 border align-self-center p-3">
        HOMOLOGATION
      </div>


      <div class="col-2 border">
        <div class="row pl-2 pt-1">
          P.V. N° :
        </div>
        <div class="row pl-2">
          Date :
        </div>


      </div>
    </div>
  </div>

  <div class="container mt-1">
    <div class="row">
      <div class="col-6">
        <table class="table-sm table-bordered  d-block d-md-table">
          <thead>
            <tr>
              <th scope="col" colspan="2" class="td-center">SIGNATURES</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td class="td-center">
                <div class="small-text">Le Capitaine de l'équipe gagnante</div>
              </td>
              <td class="td-center">
                <div class="small-text">Le Capitaine de l'équipe perdante</div>
              </td>
            </tr>
            <tr>
              <td class="td-center">
                <img class="signature" [src]="match.signatureEquipeReceveuse" />
              </td>
              <td class="td-center">
                <img class="signature" [src]="match.signatureEquipeVisiteuse" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-6 ">
        <table class="table-sm table-bordered table-responsive  d-block d-md-table">
          <tr >
            <td class="td-center" rowspan="2">
              Points math acquis
            </td>

            <td class="td-center">
              Equipe recevante : {{ match.getPointEquipeReceveuse() }}
             </td>
          </tr>
          <tr>
            <td class="td-center">
              Equipe visiteuse : {{ match.getPointEquipeVisiteuse() }}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>

