<footer class="page-footer p-1 fixed-bottom bg-light">
    <div class="container">
        <div class="row">
            <div class="col-2"  ></div>
            <div class="score-counter col-4 text-center"  >
                <span style="font-weight: bold;">
                    {{ match.equipeReceveuse.nomEquipe }} - {{ match.equipeVisiteuse.nomEquipe }}  
                </span>
                <div style="width: 30px;"></div>
              
                <div class="digit" id="digit1">{{ match.scoreEquipeReceveuse()}}</div>
                <span class="separator">-</span>
                <div class="digit" id="digit3">{{ match.scoreEquipeVisiteuse() }}</div>
              </div>
              
            <div class="col-2">
                <app-modal [match]="match" [godeMode]="godeMode"></app-modal>
            </div>
            <div class="col-2">
                <button class="btn btn-success" (click)="imprimer()" [disabled]="!isButtonImprimerActif() && !godeMode">Imprimer</button>
            </div>
            <div class="col-2">
                <button class="btn btn-outline-primary" (click)="random()" *ngIf="godeMode">Random</button>
            </div>
        </div>
    </div>
</footer>
