<footer class="page-footer p-1 fixed-bottom bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6 text-center" style="font-weight: bold;">
                {{ match.equipeReceveuse.nomEquipe }} : {{ match.scoreEquipeReceveuse() }}
                - {{ match.scoreEquipeVisiteuse() }} : {{ match.equipeVisiteuse.nomEquipe }}
            </div>
            <div class="col-2">
                <app-modal [match]="match" [godeMode]="godeMode"></app-modal>
            </div>
            <div class="col-2">
                <button class="btn btn-success" (click)="imprimer()" [disabled]="!isButtonImprimerActif()">Imprimer</button>
            </div>
            <div class="col-2">
                <button class="btn btn-outline-primary" (click)="random()" *ngIf="godeMode">Random</button>
            </div>
        </div>
    </div>
</footer>
