<div class="container mt-2">
  <div class="row"></div>
  <div class="input-container" (mouseenter)="showButton = true" (mouseleave)="showButton = false">
    <input class="form-control form-control-sm transparent text-center nomEquipe" [placeholder]="nomEquipePlaceHolder"
      id="nomEquipe" required [(ngModel)]="equipe.nomEquipe" name="nomEquipe" [readonly]="lectureSeule"
      [ngbTypeahead]="searchEquipe" (blur)="onBlurMethod(); convertirEnMajuscules()" />

    <button [ngStyle]="{'visibility': showButton || cacherComposition ? 'visible' : 'hidden'}"  class="btn btn-sm btn-secondary" (click)="toggleButton()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
        <path
          d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z" />
      </svg>
    </button>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped table-sm align-middle">
        <thead>
          <tr>
            <th scope="col" class="text-center" style="width: 10%">#</th>
            <th scope="col" class="text-center" style="width: 45%">Nom</th>
            <th scope="col" class="text-center" style="width: 15%">Clt</th>
            <th scope="col" class="text-center" style="width: 30%">Licence</th>
            <th scope="col" style="width: 50px;"></th> <!-- Colonne fixe pour le bouton -->
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let joueur of equipe.joueurs; index as i" (mouseenter)="joueur.showButton = true"
          (mouseleave)="joueur.showButton = false" [ngClass]="joueur.estCapitaine ? 'table-info' : ''">
          <td scope="row" class="td-position">{{ joueur.position }}</td>
          <td class="form-group">
            <span *ngIf="cacherComposition" class="hidden-text">****</span>
            <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="equipe.joueurs[i].nom"
              [ngbTypeahead]="search" (blur)="onBlurMethod()" (selectItem)="onItemSelected($event, i)"
              [readonly]="lectureSeule || cacherComposition" [class.hidden-content]="cacherComposition"
              [class.visible-content]="!cacherComposition" />
          </td>
          <td>
            <input type="text" class="form-control transparent text-center" id="{{ 'classement' + i }}" required
              [(ngModel)]="equipe.joueurs[i].classement" name="classement" (blur)="onBlurMethod()"
              [readonly]="lectureSeule || cacherComposition" [class.hidden-content]="cacherComposition"
              [class.visible-content]="!cacherComposition" />
          </td>
          <td>
            <input type="text" class="form-control transparent text-center" id="{{ 'numeroLicence' + i }}" required
              [(ngModel)]="equipe.joueurs[i].numeroLicence" name="numeroLicence" (blur)="onBlurMethod()"
              [readonly]="lectureSeule || cacherComposition" [class.hidden-content]="cacherComposition"
              [class.visible-content]="!cacherComposition" />
          </td>
          <td style="width: 50px; position: relative;">
            <button class="btn btn-link" (click)="setCaptain(joueur)" style="padding: 0;" title="Définir capitaine"
              *ngIf="joueur.showButton || joueur.estCapitaine"> <!-- Ajout de la condition -->
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                <path
                  d="M12 2C10.3 2 8.7 2.5 7.4 3.4C5.1 4.5 3.5 6.7 3.5 9.5C3.5 10.3 3.7 11 4 11.7C4.3 12.4 4.9 13 5.5 13.3V16.5H4V18.5H9V21H15V18.5H20V16.5H18.5V13.3C19.1 13 19.7 12.4 20 11.7C20.3 11 20.5 10.3 20.5 9.5C20.5 6.7 18.9 4.5 16.6 3.4C15.3 2.5 13.7 2 12 2ZM12 4C13.2 4 14.3 4.3 15.4 4.8C16.6 5.3 17.6 6.4 18.1 7.6C18.5 8.6 18.5 9.6 18.5 9.5C18.5 8.4 18 7.3 17.3 6.3C16.5 5.2 15.5 4.5 14.5 4.1C13.7 3.8 13 3.5 12 3.5C11 3.5 10.3 3.8 9.5 4.1C8.5 4.5 7.5 5.2 6.7 6.3C6 7.3 5.5 8.4 5.5 9.5C5.5 10.6 5.5 10.8 5.9 11.8C6.4 12.9 7.4 14 8.6 14.5V15H15.4V14.5C16.6 14 17.6 12.9 18.1 11.8C18.5 10.8 18.5 10.6 18.5 9.5C18.5 9.6 18.5 8.6 18.1 7.6C17.6 6.4 16.6 5.3 15.4 4.8C14.3 4.3 13.2 4 12 4Z" />
              </svg>
            </button>
            <!-- Bouton transparent pour garder l'espace -->
            <button class="btn btn-link" *ngIf="!joueur.showButton && !joueur.estCapitaine"
              style="padding: 0; visibility: hidden;" title="Définir capitaine">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                <path
                  d="M12 2C10.3 2 8.7 2.5 7.4 3.4C5.1 4.5 3.5 6.7 3.5 9.5C3.5 10.3 3.7 11 4 11.7C4.3 12.4 4.9 13 5.5 13.3V16.5H4V18.5H9V21H15V18.5H20V16.5H18.5V13.3C19.1 13 19.7 12.4 20 11.7C20.3 11 20.5 10.3 20.5 9.5C20.5 6.7 18.9 4.5 16.6 3.4C15.3 2.5 13.7 2 12 2ZM12 4C13.2 4 14.3 4.3 15.4 4.8C16.6 5.3 17.6 6.4 18.1 7.6C18.5 8.6 18.5 9.6 18.5 9.5C18.5 8.4 18 7.3 17.3 6.3C16.5 5.2 15.5 4.5 14.5 4.1C13.7 3.8 13 3.5 12 3.5C11 3.5 10.3 3.8 9.5 4.1C8.5 4.5 7.5 5.2 6.7 6.3C6 7.3 5.5 8.4 5.5 9.5C5.5 10.6 5.5 10.8 5.9 11.8C6.4 12.9 7.4 14 8.6 14.5V15H15.4V14.5C16.6 14 17.6 12.9 18.1 11.8C18.5 10.8 18.5 10.6 18.5 9.5C18.5 9.6 18.5 8.6 18.1 7.6C17.6 6.4 16.6 5.3 15.4 4.8C14.3 4.3 13.2 4 12 4Z" />
              </svg>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>