<div class="container mt-2">
  <div class="row">
    <div class="col-12"></div>
    <input class="form-control form-control-sm transparent text-center text-uppercase" placeholder="Nom Equipe"
      id="nomEquipe" required [(ngModel)]="equipe.nomEquipe" name="nomEquipe" />
  </div>
  <div class="row">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col" class="text-center" style="width: 10%">#</th>
          <th scope="col" class="text-center" style="width: 45%">Nom</th>
          <th scope="col" class="text-center" style="width: 15%">Clt</th>
          <th scope="col" class="text-center" style="width: 30%">Licence</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let joueur of equipe.joueurs; index as i">
          <td scope="row text-center" class="text-center font-weight-bold">{{ joueur.position }}</td>
          <td class="form-group">
            <input type="search" class="form-control transparent" id="{{ 'nom' +  i  }}" required
              [(ngModel)]="equipe.joueurs[i].nom" name="nom">
          </td>
          <td>
            <input type="search" class="form-control transparent text-center" id="{{ 'classement' + i  }}" required
              [(ngModel)]="equipe.joueurs[i].classement" name="classement">
          </td>
          <td>
            <input type="search" class="form-control transparent text-center" id="{{ 'numeroLicence' + i }}" required
              [(ngModel)]="equipe.joueurs[i].numeroLicence" name="numeroLicence">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>