<ng-template #content let-modal>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <label>Capitaine {{ match.equipeReceveuse.nomEquipe }}</label>
          <ng-signature-pad [responsive]="true" [showClearButton]="true" ></ng-signature-pad>
        </div>
        <div class="col-6">
          <label>Capitaine {{ match.equipeVisiteuse.nomEquipe }}</label>
          <ng-signature-pad [responsive]="true" [showClearButton]="true" [clearButtonText]="Efcer"></ng-signature-pad>
        </div>
      </div>
    </div>
</ng-template>

<button type="button" class="btn btn-success" [disabled]="!match.matchEstTermine()" (click)="open(content)">Signer</button>
