<ng-template #content let-modal  id="myModal">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <label>Capitaine {{ match.equipeReceveuse.nomEquipe }}</label>
          <app-champ-signature [signature]="match.signatureEquipeReceveuse" (onSignatureChanged)="saveImageEquipeReceveuse($event)"></app-champ-signature>
        </div>
        <div class="col-6">
          <label>Capitaine {{ match.equipeVisiteuse.nomEquipe }}</label>
          <app-champ-signature [signature]="match.signatureEquipeVisiteuse"  (onSignatureChanged)="saveImageEquipeVisiteuse($event)"></app-champ-signature>
        </div>
      </div>
      <div class="row">
        <button [disabled]="!isButtonImprimerActif()" class="btn btn-lg btn-outline-primary" (click)="Imprimer(event)" >Imprimer</button>
      </div>
    </div>
</ng-template>

<button type="button" class="btn btn-success" [disabled]="!match.matchEstTermine()" (click)="open(content)">Signer</button>
