<app-navigation />


<app-print-page [match]="match"></app-print-page>

<app-entete [match]="match"></app-entete>

<div class="container" style="display : table; width: 100%; margin-bottom: 20px;">
    <div class="row">
        <div class="col-6">
            <app-equipe [equipe]="match.equipeReceveuse"></app-equipe>
        </div>
        <div class="col-6">
            <app-equipe [equipe]="match.equipeVisiteuse"></app-equipe>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-rencontres [rencontres]="match.rencontres"></app-rencontres>
        </div>
    </div>
</div>

<div style="display : table-row; height: 100%;">
    <app-bottom-bar [match]="match"></app-bottom-bar>
</div>


