<app-navigation [contexte]="Contexte"/>



<app-print-page [match]="Contexte[0]"></app-print-page>

<app-entete [match]="Contexte[0]"></app-entete>

<div class="container" style="display : table; width: 100%; margin-bottom: 20px;">
    <div class="row">
        <div class="col-6">
            <app-equipe [equipe]="Contexte[0].equipeReceveuse"></app-equipe>
        </div>
        <div class="col-6">
            <app-equipe [equipe]="Contexte[0].equipeVisiteuse"></app-equipe>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-rencontres [rencontres]="Contexte[0].rencontres"></app-rencontres>
        </div>
    </div>
</div>

<div style="display : table-row; height: 100%;">
    <app-bottom-bar [match]="Contexte[0]"></app-bottom-bar>
</div>


