.manche {
    min-width: 48px;
    max-width: 60px;
    text-align: center;
}

.score {
  min-width: 48px;
  max-width: 60px;
  text-align: center;
}

.separation {
  height: 40px; /* Ajustez la valeur en pixels selon vos besoins */
  background-color: #ccc; /* Ajoutez une couleur de fond pour mieux visualiser la séparation */
}

/* styles.css ou votre fichier de styles global */
.dropdown-toggle, .dropdown-item {
  border: none;
  background: none;
  color: inherit;
}

.hoverable {
  display: flex; /* S'assurer que le contenu est aligné */
  align-items: center; /* Centrer verticalement */
}

.hoverable:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Couleur de fond au survol */
  color: #0056b3; /* Couleur du texte au survol */
}

.font-weight-bold {
  font-weight: bold;
}

.player-hover {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.15s ease;
}

.player-hover:hover {
  color: #0284c7;
}