<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Joueur 1</th>
    <th scope="col">Joueur 2</th>
    <th scope="col">1</th>
    <th scope="col">2</th>
    <th scope="col">3</th>
    <th scope="col">4</th>
    <th scope="col">5</th>
    <th scope="col">Points</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rencontre of match.rencontres; index as i">
    <th scope="row">{{ rencontres[i].getFormule() }}</th>
    <td>
        <div *ngIf="rencontres[i].constructor.name === 'RencontreSimple'">{{ rencontres[i].joueurEquipeReceveuse.nom }}</div>
        <input *ngIf="rencontres[i].constructor.name === 'RencontreDouble'" type="text" class="form-control form-control-sm" id="doubleEquipeReceveuse" required
          [(ngModel)]="rencontres[i].doubleEquipeReceveuse" name="doubleEquipeReceveuse">
    </td>
    <td>
      <div *ngIf="rencontres[i].constructor.name === 'RencontreSimple'">{{ rencontres[i].joueurEquipeVisiteuse.nom }}</div>
        <input *ngIf="rencontres[i].constructor.name === 'RencontreDouble'" type="text" class="form-control form-control-sm" id="doubleEquipeVisiteuse" required
          [(ngModel)]="rencontres[i].doubleEquipeVisiteuse" name="doubleEquipeVisiteuse">
    </td>
    <td *ngFor="let manche of rencontres[i].manches; index as y">
      <input type="text" class="form-control form-control-sm manche" id="manche + y" required
      [(ngModel)]="rencontres[i].manches[y].score" name="manche + y"/>
    </td>
    
    <td class="manche">
      {{ rencontres[i].getVainqueur() }}
    </td>
  </tr>
  </tbody>
</table>