<td scope="row" style="text-align: center; font-weight: bold;">{{ rencontre.getFormule() }}</td>
<td>
    <div *ngIf="rencontre.getTypeRencontre() === 'RencontreSimple'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
    <div id="{{ i }} d">{{ rencontre.getNomJoueurEquipeReceveuse() }}</div>
    </ng-template>
    <ng-template #elseBlock>
    <input type="text" class="form-control form-control-sm valid" id="{{ 'doubleEquipeReceveuse' + i }} "
        [(ngModel)]="rencontre.doubleEquipeReceveuse" name="{{ 'doubleEquipeReceveuse' + i }}"
        (blur)="onBlurMethod()" autocomplete="off" [readonly]="lectureSeule">
    </ng-template>
</td>
<td>
    <div *ngIf="rencontre.getTypeRencontre() === 'RencontreSimple'; then thenBlock2 else elseBlock2"></div>
    <ng-template #thenBlock2>
    <div>{{ rencontre.getNomJoueurEquipeVisiteuse() }}</div>
    </ng-template>
    <ng-template #elseBlock2>
    <input type="text" class="form-control form-control-sm" id="{{ 'doubleEquipeVisiteuse' + i }} "
        [(ngModel)]="rencontre.doubleEquipeVisiteuse" name="{{ 'doubleEquipeVisiteuse' + i }}"
        (blur)="onBlurMethod()" autocomplete="off" [readonly]="lectureSeule">
    </ng-template>
</td>
<td *ngFor="let manche of rencontre.manches; index as y" style="text-align: center;">
    <input type="text" class="form-control manche" id="{{ 'manche' + i + y }}"
    (keypress)="omit_number(rencontre.manches[y].score, $event)" [(ngModel)]="rencontre.manches[y].score"
    name=" {{ 'manche' + i + y }}" style="padding: 0%;" (blur)="onBlurMethod()" autocomplete="off" appScoreValidation="rencontre.manches[y]" [readonly]="lectureSeule" />
</td>

<td class="score">
    {{ rencontre.getPointEquipeReveuse() }}
</td>
<td class="score">
    {{ rencontre.getPointEquipeVisiteuse() }}
</td>